@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap%27');

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.texts {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0.7em;
}

.textNextGame{
    font-size: 20px;
    margin: 0.2em;
}

.number {
    font-size: 25px;
    margin: 0px;
}

.borderTimer {
    padding: 0.5em;
    margin: 10px;
    border-width: 3px;
    border-color: #5383e8;
    background-color: #f5f5f5;
    border-style: solid;
    border-radius: 10px;
    width: 11em;
    height: auto;
   
}

#linkToornament {
    color: black;
}

#code {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.timerBlock {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: left;
}
