@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.display {
    height: 30vw;
    width: 70vw;
    background-color: #2a2b30;
    color: #86a0b5;
    font-family: 'Quicksand', sans-serif;
    border: 3px solid blanchedalmond;
    border-radius: 15px;
    padding: 3vw;
    font-size: 1vw;
}