@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap%27');

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.texts {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0.7em;
    color: #86a0b5;
}

.textNextGame{
    font-size: 20px;
    margin: 0.2em;
    color: #86a0b5;
}

.number {
    font-size: 25px;
    margin: 0px;
    color: #ff7f53;
}

.borderTimer {
    padding: 0.5em;
    margin: 10px;
    border-width: 2px;
    border-color: #ff7f53;
    background-color: #2a2b30;
    border-style: solid;
    border-radius: 10px;
    width: 11em;
    height: auto;
   
}

#linkToornament {
    color: #86a0b5;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#code {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.timerBlock {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #ff7f53;
    display: flex;
    justify-content: left;
}

.widgetContainer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}