.global{
    color: #86a0b5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc{
    background-color: #2a2b30;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.matchlist{
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 780px;
}

.match{
    margin: 10px;
    padding-bottom: 5px;
}

.idmatch{
    color: #ff7f53
}

.opponentmatch{
    color:  #6c69f9
}

.datematch{
    color: #00d084
}

.matches{
    margin: 20px;
}

.form{
    margin: 3px;
    padding: 3px;
}